@charset "windows-1252";

@import url("../font-awesome-4.6.3/css/font-awesome.css");

.cell-header {
    background-color: Black;
    border-top-color: #86bc25;
    border-top-style: solid !important;
}

.amx-panelPage-header {
    background: black;
}

.springboard-cell-border {
    border-bottom-color: #86bc25;
    border-bottom-style: solid !important;
    border-bottom-width: thin;
}

.amx-android-generic .amx-listItem, .amx-android-chrome .amx-listItem {
    padding-top: 3px;
    padding-bottom: 2px;
    width: 394px;
}